body{
margin:0;
font-family:Arial;
color:white;
text-align:center;
background:black;
}

canvas{
position:fixed;
top:0;
left:0;
z-index:-1;
}

header{
padding:30px;
}

h1{
color:#00ff9c;
}

.card{
background:rgba(0,0,0,0.7);
padding:40px;
width:420px;
margin:120px auto;
border-radius:10px;
box-shadow:0 0 20px #00ff9c;
}

button{
background:#00ff9c;
border:none;
padding:12px 25px;
border-radius:6px;
font-size:16px;
cursor:pointer;
margin-top:15px;
}

button:hover{
background:#00cc7a;
}

footer{
margin-top:80px;
padding:20px;
color:#aaa;
}
